* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 520vh;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: #e0f4ff;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #018bdb;
  display: flex;
  color: white;

  padding-left: 20px;
  padding-right: 20px;

  z-index: 1;
}

ul {
  display: flex;
  gap: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.home {
  width: 100%;
  height: 110vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #004aad;
}

.homeLogo {
  cursor: pointer;
  opacity: 0; /* Start with zero opacity */
  transition: opacity 0.5s ease-in-out; /* Add transition effect */
}

.homeLogo.show {
  opacity: 1; /* Show logo when show class is applied */
}

.homeLogo:hover {
  transition: all 1.5s ease;
  transform: rotate(360deg);
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.services {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.servicesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  padding-left: 50px;
  padding-right: 50px;
}

.servicesContainer > div {
  font-size: 25px;
}

.services1 {
  width: 100%;
  height: 90vh;
}

.services1Container {
  display: flex;
  height: 100%;
}

.serviceImageContainer {
  height: 100%;
  width: 30%;
}

.serviceImage {
  height: 100%;
  width: 100%;
}

.serviceRightContainer {
  height: 100%;
  width: 70%;
}

.serviceTextUpperContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 40px;
  padding-left: 20px;
}

.serviceTextBottomContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 40px;
  padding-left: 20px;
}

.benefits {
  width: 100%;
  height: 90vh;
  background-color: #004aad;
  color: white;
}

.rotateContainer {
  width: 100%;
  height: 100%;
  position: relative; /* Set position to relative */
  overflow: hidden; /* Hide overflow content */
}

.rotate {
  height: 1000px;
  width: 1000px;
  position: absolute;
  left: 65%; /* Adjust as needed */
  bottom: 5%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the image */
  transition: transform 0.5s ease; /* Apply transition for smooth rotation */
}

.rotateButton {
  position: absolute;
  top: 43%;
  left: 30%;

  border-radius: 20px;

  height: 100px;
  width: 400px;

  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;

  letter-spacing: 0.3em;
}

.rotateButton:hover {
  background-color: #018bdb;
  color: white;
}

.team {
  width: 100%;
  height: 90vh;

  background-color: #242424;

  display: flex;

  border-bottom: 2px solid #018bdb;
}

.balazsCard {
  display: flex;
  flex-direction: column;
}

.marciCard {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  letter-spacing: 0.2em;
  font-size: 17px;
  font-weight: 600;
}

.leftContainer {
  width: 10%;
  height: 100%;

  color: white;

  display: flex;
  flex-direction: column;

  justify-content: center;

  font-size: 40px;

  padding-left: 30px;

  border-right: 2px solid #018bdb;
}

.rightContainer {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.renderedDiv {
  height: 500px;
  width: 340px;
  background-color: white;

  border-radius: 20px;

  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  gap: 50px;
}

#balazsRenderedDiv {
  position: absolute;
}

#marciRenderedDiv {
  height: 500px;
  width: 280px;
  background-color: white;

  position: absolute;

  border-radius: 20px;

  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  gap: 50px;
}

.trenyo {
  height: 500px;
  width: 340px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.taki {
  height: 500px;
  width: 280px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.form {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #004aad;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.growTogetherContainer {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: start;
  justify-content: center;
}

.formContainer {
  width: 100%;
  height: 70%;
}

form > input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.footer {
  position: absolute;
  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > h1 {
  font-size: 40px;
}

.slide-left {
  animation: slideLeft 0.5s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 0.5s forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(0%);
    opacity: 0;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}

.footerCreds {
  padding-left: 30px;
}

.socials {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.alert {
  position: absolute;
  right: 20%;
}
