* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 400vh;
}

li {
  list-style: none;
  cursor: pointer;
}

.Header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #018bdb;
  color: black;
  display: flex;
  color: white;
}

ul {
  display: flex;
  gap: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.home {
  width: 100%;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #004aad;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.services {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.servicesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.services1 {
  width: 100%;
  height: 90vh;
}

.services1Container {
  display: flex;
  height: 100%;
}

.serviceImageContainer {
  height: 100%;
  width: 30%;
}

.serviceImage {
  height: 100%;
  width: 100%;
}

.serviceRightContainer {
  height: 100%;
  width: 70%;
}

.serviceTextUpperContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 40px;
  padding-left: 20px;
}

.serviceTextBottomContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 40px;
  padding-left: 20px;
}

.benefits {
  width: 100%;
  height: 130vh;
  background-color: #004aad;
  color: white;
}
